body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

canvas {
  display: block;
  margin: 50px auto;
  background: #ffffff;
  padding:100px 50px 50px;
  border: 2px solid black;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
